
body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 1140px;
    width:100%;
    margin: 0 auto;
}
.top-line{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    flex-wrap: wrap;
    min-height: 150px;
}

@media(max-width:650px){
    .top-line{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .top-line img{
        min-width: 300px;
        
    }
}
.top-line img{
    max-height: 220px;
    max-width: 220px;
}
header{
    background: #87509c;
}

.header-nav{
    font-size: 18px;
    line-height: 18px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 500;
    
}
@media(max-width:440px){
    .header-nav{
        font-size: 12px;
        line-height: 12px;

    }

}
.header-nav a{
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.header-nav li{
    list-style: none;
}

.header-nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav ul li{
    padding: 5px 15px;
    line-height: 15px;
    transition: all 300ms ease-in-out;
    margin: 0 2px;
}
.header-nav ul li.active{
    background: #643a79;
    border-radius: 3px;
    cursor:default;
}
.header-nav ul li:hover{
    background: #643a79;
    border-radius: 3px;
    transition: all 300ms ease-in-out;
   
    
}

.bottom-line{
    text-align: center;
    padding: 85px 0 145px 0;
}

.bottom-line p{
    font-size: 42px;
    line-height: 48px;
    color:#f7f3ea;
    font-weight: 700;
    margin-bottom: 50px;
    
}

.bottom-line a{
display: inline-block;
background: rgba(29, 29, 29, 0.226);
text-decoration: none;
padding: 5px 60px;
border-radius: 3px;
color: #f7f3ea;;
height: 54px;
line-height: 54px;
font-size: 18px;
letter-spacing: 0.02em;
font-weight: 600; 
}

.bottom-line a:hover{
    background: rgba(29, 29, 29, 0.678);
    transition: all 300ms ease-in-out;
}

/*=============================================================================*/

.service-item img{
    max-width: 200px;
    max-height: 200px;
    
}
@media(max-width:660px){
    .service-item img{
    max-height: 150px;
    max-width: 150px;
    }
}
@media(max-width:500px){
    .service-item img{
    max-height: 100px;
    max-width: 100px;
    }
}

.services{
    background: #17c2a4;
    padding: 120px 0;
    text-align: center;
}

.wrapper h2{
    margin-top: 0;
    font-size: 40px;
    line-height: 1;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-bottom: 25px;
}
.discription{
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-bottom: 70px;
    }
.services-list{
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.services-list .service-item{
    width: 33%;  
}

.item-title{
    color: #ffff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.item-description{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.02em;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    padding-bottom: 15px;
    
}

.service-item a{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.02em;
    text-decoration: none;
    background:rgba(29, 29, 29, 0.226);
    padding: 5px 10px;
    border-radius: 3px;
    
    
}

.service-item a:hover{
    background:rgba(29, 29, 29, 0.678);
    transition: all 300ms ease-in-out;
}

